
:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --v-dark-des-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: var(--dark-cyan);
    background-image: url('images/bg-pattern-bottom.svg');
    background-position: 120% -50%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
.content{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url('images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-position: -200px -500px;
}
.main-box{
    padding-top: 50px;
    display: flex;
    margin-inline: auto;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 10%;
}
.row1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.text, .statistics{
    background-color: #fff;
}
.text h1{
    font-size: 20px;
}
.text span{
    color: var(--dark-gray);
}
.text p{
    color: var(--dark-gray);
    font-size: 16px;
}
.text{
    border-bottom: 1px solid #e6e6e6;
    padding: 70px 0 15px 0;
}
.statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;
    padding: 20px 0 20px 0;
}
.statistics h2{
    font-size: 20px;
    margin: 5px 0;
}
.statistics p{
    font-size: 14px;
    color: var(--dark-gray);
    margin: 5px 0;
}
.photo img{
    position: absolute;
    border: 5px solid white;
    border-radius: 50px;
    right: 120px;
    bottom: 225px;
}
